{% extends 'base.html' %} {% block content %}
<h1>
  {{issue.title}}
  <span class="{{className}}">
    #{{issue.issue_no}}
  </span>
</h1>
<p class="font-weight-normal">{{issue.details|linebreaks}}</p>
<p class="font-weight-light">{{ issue.created_at }}</p>
<a
  class="btn btn-primary"
  role="button"
  href="{% url 'issues:edit' pk=issue.pk %}"
  >Edit</a
>
<a
  class="btn btn-danger"
  role="button"
  href="{% url 'issues:delete' pk=issue.pk %}"
  >Delete</a
>

<!-- Existing comments -->
{% include "issues/comment_list.html" %}

<!-- Comment Form for new comments -->
{% include "issues/comment_form.html" %}


{% endblock %} 


{% block javascript %}
<script>

  $("#comment-form").submit(function (e) {
    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: "{% url 'issues:detail' pk=issue.pk%}",
      data: {
        content: $('#content').val(),
        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
      },
      success: onCommentSuccess,
      error: function (response) {
          alert(response["error"]);
      }
    })
  })

  function onCommentSuccess(response) {
    console.log(response);
    var user = JSON.parse(response["user"]);
    // console.log(user);
    var fields = user[0]["fields"];
    $("#comment-form").trigger('reset');
    // Display content, username and created
    $("#comment-content").append(
      `${fields["username"] || ""}
      <span class="float-right">
      ${response.created || ""}
      </span>

      <div class="card mb-4">
        <div class="card-body">
          ${response.content||""}
        </div>
      </div>`
    )
  }

</script>
{% endblock javascript %}