{% extends 'base.html' %} {% block content %}
<h1>
  {{issue.title}}
  <span class="{{className}}">
    #{{issue.issue_no}}
  </span>
</h1>
<p class="font-weight-normal">{{issue.details|linebreaks}}</p>
<p class="font-weight-light">{{ issue.created_at }}</p>
<a
  class="btn btn-primary"
  role="button"
  href="{% url 'issues:edit' pk=issue.pk %}"
  >Edit</a
>
<a
  class="btn btn-danger"
  role="button"
  href="{% url 'issues:delete' pk=issue.pk %}"
  >Delete</a
>

<!-- Existing comments -->
{% include "issues/comment_list.html" %}

<!-- Comment Form for new comments -->
{% include "issues/comment_form.html" %}


{% endblock %} 


{% block javascript %}
<script>
    /*
        On submiting the form, send the POST ajax
        request to server and after successfull submission
        display the object.
    */
  $("#comment-form").submit(function (e) {
    // preventing from page reload and default actions
    e.preventDefault();
        // make POST ajax call
    $.ajax({
      type: 'POST',
      url: "{% url 'issues:detail' pk=issue.pk%}",
      data: {
        content: $('#content').val(),
        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
      },
      success: onCommentSuccess,
      error: function (response) {
          // alert the error if any error occured
          alert(response["error"]);
      }
    })
  })

  function onCommentSuccess(response) {
    // on successfull creating object
    // 1. clear the form.
    console.log(response);
    var user = JSON.parse(response["user"]);
    // console.log(user);
    var fields = user[0]["fields"];
    $("#comment-form").trigger('reset');
    // display the newly friend to table.
    $("#comment-content").append(
      `<div class="card">
        <div class="card-body">
          ${response.content||""}
        </div>
      </div>
      <p class="font-weight-light">
        ${fields["username"]||""}
        <span class="float-right">
        ${response.created||""}
        </span>
      </p>`
      )
  }

</script>
{% endblock javascript %}