{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>Create Issue</h1>
    <form method="POST">{% csrf_token %}
        {{ form.title|as_crispy_field }}
        <div class="row mb-4">
            <div class="col-1">
                {{ form.type }}
            </div>
            <div class="col-2">
                {{ form.status }}
            </div>
        </div>
        {{ form.details|as_crispy_field }}
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
{% endblock %}